<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway: 900, 300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container" ng-controller="LocationsController">
    <div class="nav">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-click="add()"><a href="#locations">Locations</a></li>
            <li role="presentation" class="active" class="dropdown" dropdown><a href="#" class="dropdown-toggle" dropdown-toggle data-toggle='dropdown' role="button">Search by<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="filter(yoga)"><a href="#locationsFilter">Yoga</a></li>
                    <li ng-click="filter(barre)"><a href="#locationsFilter">Barre Studio</a></li>
                    <li ng-click="filter(pilates)"><a href="#locationsFilter">Pilates</a></li>
                    <li ng-click="filter(hiit)"><a href="#locationsFilter">HIIT</a></li>
                    <li ng-click="filter(crossfit)"><a href="#locationsFilter">Crossfit</a></li>
                    <li class="divider"></li>
                    <li ng-click="filter(general)"><a href="#locationsFilter">General Fitness Gym</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="#resources">Resources</a></li>
            <li role="presentation"><a href="#about">About</a></li>
            <li role="presentation" ng-click="showInput()"><a href="#">Input</a></li>
            <li role="presentation" ng-click="logOut()"><a href="#">Log Out</a></li>
            <div class="searchBox">
                <input id="search" ng-model="location.name" type="text" placeholder="Search by Name" class="searchbox">
                <input type="submit" ng-click="search(location.name)" class="btn">
            </div>
        </ul>
    </div>
    <header ng-click="reloadRoute()">
        <h1>buffed<br><span class="minneapolis">mpls | stpl</span></h1>

    </header>
    <div ng-show="show" ng-controller="RegistrationController">
        <form class="col-md-5" novalidate ng-submit="locationSubmit(location)">
            <h2>Input Location</h2>
            <label for="name">Location Name</label>
            <input id="name" ng-model="location.name" type="text">
            <br>
            <label for="fitnessType">Fitness type</label>
            <input id="fitnessType" ng-model="location.fitnessType" type="text">
            <br>
            <label for="website">Website</label>
            <input id="website" ng-model="location.website" type="text">
            <br>
            <label for="address">Address</label>
            <input id="address" ng-model="location.address" type="text">
            <br>
            <label for="coordinates">Coordinates</label>
            <input id="coordinates" ng-model="location.coordinates" type="text">
            <br>
            <label for="description">Description</label>
            <textarea id="description" ng-model="location.description" type="text"></textarea>
            <br>
            <input type="submit" class="btn">
        </form>

    </div>
    <main ng-view>

    </main>
    <!--<footer>Copyright 2015</footer>-->
</div>
<script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="/vendor/angular-bootstrap/dist/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/vendor/ngmap/build/scripts/ng-map.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="/javascripts/app.min.js"></script>
<script type="text/javascript" src="/javascripts/approve.min.js"></script>
<script type="text/javascript" src="/javascripts/mailer.min.js"></script>
<script type="text/javascript" src="/javascripts/resources.min.js"></script>

</body>
</html>