<h4 ng-click='locationPage()' ng-hide="locationClick">Click to See Locations</h4>
<div ng-show="locationClick" ng-repeat="location in locations">
    <h3>{{location.name}}</h3>

    <p>Specializes in {{location.fitnessType}}</p>
    <p><a href="{{website}}">{{location.website}}</a></p>
    <p>{{location.address}}</p>
    <p>{{location.description}}</p>
</div>

<div class='myMap' ng-show="locationMap">
    <map zoom='15' ng-attr-center='{{el}}'><marker ng-attr-position='{{el}}'/><control name='overviewMap' opened='true' /></map>
</div>

