<div ng-hide="inspireme">
    <div class="col-md-6"id="youtubeDiv">
        <h2>Daily Vid Inspiration</h2>
        <iframe width='100%' height='400px' ng-src="{{youtube}}"/></iframe>
    </div>
    <div class="col-md-6">
        <h3>Leave Your Own Inspiration</h3>
        <form novalidate ng-submit="inspire(inspiration)">
            <label for="name"> Name</label>
            <input id="name" width='75%' ng-model="inspiration.name" type="text">
            <br>
            <label for="imageurl">Image Url</label>
            <input id="imageurl" width='75%' ng-model="inspiration.imageurl" type="text">
            <br>
            <label for="description">Leave Note</label>
            <input id="description" width='75%' ng-model="inspiration.description" type="text">
            <br>
            <input type="submit" class="btn">
        </form>
    </div>
</div>


<div class="inspirationPosts col-md-4" ng-repeat="inspiration in inspirations">
    <h4>{{inspiration.name}}</h4>
    <img width='100%' src="{{inspiration.imageurl}}">
    <p>{{inspiration.description}}</p>

</div>
