body {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-weight: 900;
    font-size: 40px;
}
.minneapolis {
    font-weight: 300;
    font-size: 30px;
}

img {
    margin: 20px 0;
    width: 100%;
}
 form input {
    float: right;
    margin-top: 20px;
     clear: both;
}
form label {
    /*float: left;*/
    margin-top:20px;
    clear: both;
    /*width: 100%;*/
}
form textarea {
    float: right;
    margin-top: 20px;
    clear: both;
}
.searchBox {
    float: right;
    margin: 10px 10px;
}
.searchBox input .btn {
    height: 100%;
    width: 150%;
}
.locations h3 {
    text-align: center;
}