body {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-weight: 900;
    font-size: 50px;
}
.minneapolis {
    font-weight: 300;
    font-size: 30px;
}
.everyBody {
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
    color: grey;
}

img {
    margin: 20px 0;
    width: 100%;
}
 form input {
    float: right;
    margin-top: 20px;
     clear: both;
}
form label {
    margin-top:20px;
    clear: both;
}
form textarea {
    float: right;
    margin-top: 20px;
    clear: both;
}
.searchBox {
    float: right;
    margin: 10px 0;
}
.searchBox .btn {
    height: 100%;
    width: 100%
    margin-left: 20px;
}
.searchBox .searchbox {
    height: 100%;
}
.locations h3 {
    text-align: center;
}
