img {
    margin: 20px 0;
    width: 100%;
}
 form input {
    float: right;
    margin-top: 20px;
     clear: both;
}
form label {
    /*float: left;*/
    margin-top:20px;
    clear: both;
    /*width: 100%;*/
}
form textarea {
    float: right;
    margin-top: 20px;
    clear: both;
}
